<div class="pagination">
    <span class="step-links">
        <span class="current">
            <div class="btn-group" data-toggle="buttons">
                {% if page.has_previous %}
                <a class="btn btn-secondary btn-lg" href="?page={{ page.previous_page_number }}">Previous</a>
                {% endif %}

                {% for page_number in page.paginator.page_range %}

                {% if page.number is page_number %}
                <a class="btn btn-secondary btn-lg disabled active" href="?page={{ page_number }}" role="link"
                    aria-disabled="true">{{ page_number }}</a>
                {% else %}
                <a class="btn btn-secondary btn-lg " href="?page={{ page_number }}">{{ page_number }}</a>
                {% endif %}

                {% endfor %}

                {% if page.has_next %}
                <a class="btn btn-secondary btn-lg" href="?page={{ page.next_page_number }}">Next</a>
                {% endif %}
            </div>
            Page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>
    </span>
</div>
