{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <p>A search by your child {{ child.get_full_name }} has been flagged as suspicious because the returned results
        contained banned words</p>
    <p>They searched for the phrase:
        <span class="text-warning"> {{ search_phrase }} </span>
        which returned the following suspicious results:
    </p>
    <div>

        {% for result in suspicious_results %}
        <h4><a href="{{ result.link }}">{{ result.title }}</a></h4>
        <p>{{ result.snippet }}</p>
        {% endfor %}
    </div>
    <hr>
    <br>

</body>

</html>