{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Add CSV of Banned Words{% endblock %}

{% block header %}
<h1 class="text-center">Add CSV of Banned Words</h1>
{% endblock header%}

{% block content %}
<section class="container justify-content-center">
    <form method="post" enctype="multipart/form-data" id="uploadForm">
        {% bootstrap_form form %}
        {% csrf_token %}
        <button class="btn btn-success" type="submit" onclick="myButtonCircle(this)" id="uploadButton">
            Upload CSV
        </button>
    </form>
</section>

<script type="text/javascript">
    function myButtonCircle(el) {
        uploadButton = document.getElementById("uploadButton")
        uploadButton.disabled = true;
        uploadButton.innerHTML = '<span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>Uploading ...';
        document.getElementById("uploadForm").submit();
    }
</script>

{% endblock content %}