<!-- safesearch/search.html -->
{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Ban a Word{% endblock title %}


{% block custom_css %}

{% endblock custom_css %}


{% block header %}
<div class="container text-center text-dark mb-3">
    <h1> Ban a Word</h1>
</div>
{% endblock header %}

{% block content %}
<div class="container mb-3">
    <div class="d-flex justify-content-evenly">
        <a class="btn btn-primary mx-3" href="{% url 'banned_words' %}" title="Ban a Word">
            Banned Words
        </a>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary mx-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Upload CSV
        </button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Upload a CSV File
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container justify-content-center">
                    <form method="post" enctype="multipart/form-data" id="uploadForm"
                        action="{% url 'add_banned_csv' %}">
                        <div class="mb-3">
                            <label class="form-label mx-3" for="id_csv_file">
                                CSV File&nbsp;
                                <span type="button" class="" data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-custom-class="custom-tooltip"
                                    data-bs-title="CSV files are files which contain values seperated by commas">
                                    <i class="fa-regular fa-circle-question"></i>
                                </span>
                            </label>
                            <input type="file" name="csv_file" class="form-control" required id="id_csv_file">
                        </div>

                        {% csrf_token %}
                        <button class="btn btn-success" type="submit" onclick="myButtonCircle(this)" id="uploadButton">
                            Upload CSV
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container justify-content-center">
    <form class="mb-3" method="post" enctype="multipart/form-data" action="{% url 'create_banned_word' %}"
        id="id-create-banned-form">
        <div class="row g-3 mb-3">
            <div class="col-lg-6 col-md-12">
                <label class="form-label mx-3" for="id_word">
                    Word&nbsp;
                    <span type="button" class="" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title=" You can ban both individual words and phrases. To ban multiple words at once, enter them as a comma-separated list.">
                        <i class="fa-regular fa-circle-question"></i>
                    </span>
                </label>
                <input type="text" name="word" maxlength="50" class="form-control" placeholder="Word" required
                    id="id_word">
            </div>
            <div class="col-lg-3 col-md-12">
                <label class="form-label mx-3" for="id_reason">Reason</label>
                <select name="reason" class="form-select" id="id_reason">
                    <option value="OL" selected>Offensive Language</option>
                    <option value="AC">Adult Content</option>
                    <option value="DR">Drugs</option>
                    <option value="VC">Violent and Disturbing Content</option>
                </select>
            </div>
            <div class="col-lg-3 col-md-12">
                <p class="text-center py-0">Ban for</p>
                <div>
                    <table class="table w-75 text-center">
                        <thead>
                            <tr>
                                <th>Child</th>
                                <th>
                                    <div class="form-check">
                                        <label class="form-check-label" for="check-all">
                                            Ban for All
                                        </label>
                                        <input class="form-check-input" type="checkbox" value="" id="check-all"
                                            onchange="toggleSelectAll(this);disableIfNone('toggle-all')">
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for child_profile in children_profiles %}
                            <tr>
                                <td>{{ child_profile.child.get_full_name }}</td>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="{{child_profile.id}}"
                                            id="id_{{child_profile.child.username}}_check" name="ban_for"
                                            onchange="allSelectedUpdate(this),disableIfNone('checkbox')">
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% for child_profile in children_profiles %}

                    {% endfor %}
                </div>
            </div>
        </div>
        {% csrf_token %}
        <input class="btn btn-success text-color" type="submit" value="Ban Word" id="id-submit-button"
            onclick="disableIfNone('submitted')">
    </form>
</div>
{% endblock content %}


{% block custom_js %}
<script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
<script type="text/javascript">
    function myButtonCircle(el) {
        uploadButton = document.getElementById("uploadButton")
        uploadButton.disabled = true;
        uploadButton.innerHTML = '<span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>Uploading CSV...';
        document.getElementById("uploadForm").submit();
    }

    function toggleSelectAll(checkAll) {
        var ele = document.getElementsByName('ban_for');
        if (checkAll.checked) {
            for (var i = 0; i < ele.length; i++) {
                if (ele[i].type == 'checkbox')
                    ele[i].checked = true;
            }
        } else {
            for (var i = 0; i < ele.length; i++) {
                if (ele[i].type == 'checkbox')
                    ele[i].checked = false;
            }
        }
    }

    function allSelectedUpdate(el) {
        var checkAll = document.getElementById('check-all');
        var ele = document.getElementsByName('ban_for');
        var totalCheckboxes = ele.length;
        var selectedCheckboxes = 0;

        for (var i = 0; i < ele.length; i++) {
            if (ele[i].type === 'checkbox' && ele[i].checked) {
                selectedCheckboxes++;
            }
        }

        if (selectedCheckboxes === 0) {
            checkAll.checked = false;
            checkAll.indeterminate = false;
        } else if (selectedCheckboxes === totalCheckboxes) {
            checkAll.checked = true;
            checkAll.indeterminate = false;
        } else {
            checkAll.checked = false;
            checkAll.indeterminate = true;
        }
    }
    function disableIfNone(el) {
        // Get all checkboxes with the name "ban_for"
        var checkboxes = document.querySelectorAll('input[type="checkbox"][name="ban_for"]');
        // Get the submit button
        var submitButton = document.getElementById('id-submit-button');

        // Check if any checkbox is selected
        var atLeastOneSelected = false;
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                atLeastOneSelected = true;
                break;
            }
        }

        if (atLeastOneSelected) {
            submitButton.disabled = false;
            if (el === "submitted") {
                var createform = document.getElementById("id-create-banned-form");
                createform.submit();
            }
        } else {
            submitButton.disabled = true;
            if (el === "submitted") {
                silverBox({
                    alertIcon: "error",
                    text: "You must select at least one child before submitting the form",
                    centerContent: true,
                    cancelButton: {
                        text: "Ok"
                    }
                })
            }

        }
    }
</script>
{% endblock custom_js %}