<!-- safesearch/search.html -->
{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Default List of Banned Words{% endblock title %}

{% block header %}
<h1 class="d-flex justify-content-center">
    Default List of Banned Words
</h1>
{% endblock header %}

{% block content %}

<div class="container-2">

</div>

{% endblock content %}


{% block cucstom_js %}
<script>
    function toggleSelectAll(child_profile_id) {
        name = 'category' + child_profile_id + '_';
        var ele = document.getElementsByName('ban_for');
        if (checkAll.checked) {
            for (var i = 0; i < ele.length; i++) {
                if (ele[i].type == 'checkbox')
                    ele[i].checked = true;
            }
        } else {
            for (var i = 0; i < ele.length; i++) {
                if (ele[i].type == 'checkbox')
                    ele[i].checked = false;
            }
        }
    }

</script>
{% endblock cucstom_js %}