{% extends 'base.html' %}

{% block title %}Search History{% endblock title %}

{% block content %}
<h2>Search History</h2>

<a class="btn btn-success" href="{% url 'safesearch:generate_children_pdf_report' %}">
    Generate Pdf Report
</a>

<table class="table">
    <thead>
        <tr>
            <th>Search Phrase</th>
            <th>Date Searched</th>
            <th>No of Results</th>
            <th>Child</th>
            <th>Allowed</th>
        </tr>
    </thead>
    <tbody>
        {% for search_phrase in search_phrases %}
        <tr>
            <td>{{ search_phrase.phrase }}</td>
            <td>{{ search_phrase.searched_on }}</td>
            <td>{{ search_phrase.no_of_results }}</td>
            <td>{{ search_phrase.searched_by.child }}</td>
            <td>
                {% if search_phrase.allowed %}
                Yes
                {% else %}
                No
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No search history available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}