<!-- safesearch/search.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Toto Search{% endblock title %}


{% block header %}
<div class="container-fluid text-center">
    <h1 class="text-dark">Toto Search</h1>
</div>
{% endblock header %}

{% block content %}

<div class="container">
    <div class="container my-3">
        <form method="get" id="id-search-form" onsubmit="startSearch()">
            <div class="input-group mb-3">
                <input type="text" name="search-query" id="search-query" class="form-control" required
                    placeholder="Search for ...">
                <button type="submit" class="btn btn-success">
                    &nbsp;<span class="text-white"><i class="fas fa-search"></i></span>
                    <span class="text-white">Search</span>
                </button>
            </div>
        </form>
    </div>

    <div class="text-center">
        {% if searched %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">
                You searched for "{{search_phrase.phrase}}".
            </h4>
            <p>Displaying {{ search_results|length }} search results</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                id="close-search-alert"></button>
        </div>
        {% else %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">
                You haven't performed a search yet.
            </h4>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                id="close-search-alert"></button>
        </div>
        {% endif %}
        <div class="container" id="search-gif" style="display: none;">
            <img src="{% static 'search.gif' %}" alt="" height="100px">
            <p>Searching ...</p>
        </div>
    </div>
    {% if searched %}
    <div id="id-search-results">
        {% if search_results %}
        <div>
            {% for result in search_results %}
            <div class="card m-2 p-2">
                <div class="card-header">
                    <div class="row g-2">
                        <div class="col-8">
                            <button type="button" class="btn btn-link" onclick="openLink('{{result.index}}')">
                                <span class="h5">{{ result.title }}</span>
                                <input type="hidden" value="{{result.title}}" name="result_title"
                                    id="id-open-link-title{{result.index}}">
                                <input type="hidden" value="{{result.link}}" name="result_link"
                                    id="id-open-link-link{{result.index}}">
                                <input type="hidden" value="{{result.snippet}}" name="result_snippet"
                                    id="id-open-link-snippet{{result.index}}">
                                <input type="hidden" value="{{search_phrase.id}}" name="search_query_id"
                                    id="id-open-link-id{{result.index}}">
                            </button>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-sm btn-danger" id="report-result-modal-button" data-bs-toggle="modal"
                                data-bs-target="#result{{result.index}}Modal">
                                Report
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p>{{ result.snippet }}</p>
                </div>
            </div>
            <div class="modal fade" id="result{{result.index}}Modal" tabindex="-1"
                aria-labelledby="result{{result.index}}ModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                id="id-close-result-report-modal{{result.index}}"></button>
                            <div>
                                <div class="container-fluid">
                                    <p>Do you want to report this result "{{result.title}}"?</p>
                                </div>
                                <div class="container-fluid">
                                    <input type="hidden" value="{{result.title}}" name="result_title"
                                        id="id-result-report-title{{result.index}}">
                                    <input type="hidden" value="{{result.link}}" name="result_link"
                                        id="id-result-report-link{{result.index}}">
                                    <input type="hidden" value="{{result.snippet}}" name="result_snippet"
                                        id="id-result-report-snippet{{result.index}}">
                                    <input type="hidden" value="{{search_phrase.id}}" name="search_query_id"
                                        id="id-search-query-id{{result.index}}">
                                    <textarea class="form-control m-2" name="report_reason"
                                        id="id-report-reason{{result.index}}" rows=" 3"></textarea>
                                    <button type="button" class="btn btn-sm btn-danger" id="id-report-result-button"
                                        onclick="reportResult('{{result.index}}')">Report Result</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
        {% else %}
        <p>No search results found.</p>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}

{% block custom_js %}
<script>
    function openLink(result_index) {
        // the desired window properties, including height
        var windowFeatures = 'height=400,width=600';
        try {
            var result_title = document.querySelector(
                "#id-open-link-title" + result_index
            ).value;
            var result_link = document.querySelector(
                "#id-open-link-link" + result_index
            ).value;
            var result_snippet = document.querySelector(
                "#id-open-link-snippet" + result_index
            ).value;
            var search_query_id = document.querySelector(
                "#id-open-link-id" + result_index
            ).value;
            saveSiteVisit(result_link, result_title, result_snippet, search_query_id)
        }
        catch (err) {
            console.log(err.message);
        }
        // Open the link in a new window with the specified properties
        window.open(result_link, '_blank', windowFeatures);
    }
    function startSearch() {
        var search_query = document.querySelector("#search-query").value;
        var form = document.querySelector("#id-search-form");
        form.action = "{% url 'search' %}";
        var alertCloseButton = document.querySelector("#close-search-alert");
        alertCloseButton.click();
        var searchResults = document.querySelector("#id-search-results");
        searchResults.style.display = "none";
        var searchGif = document.querySelector("#search-gif");
        searchGif.style.display = "block";
        form.submit();
    }
</script>

<script>
    var loc = window.location;
    var wsStart = 'ws://';
    if (loc.protocol == 'https:') {
        wsStart = 'wss://'
    }

    var parent_id = "{{parent.id}}";

    var socaddress3 = wsStart + window.location.host + "/ws/report/result/";
    const reportResultSocket = new WebSocket(socaddress3);
    reportResultSocket.onopen = function (e) {
        console.log(`The connection was setup successfully to "${socaddress3}!`);
    };
    reportResultSocket.onclose = function (error) {
        console.log(`something unexpected happened when connecting to "${socaddress3}" !`);
        console.log(`Error: ${error.code} , reason: ${error.reason}`);
    };

    function reportResult(result_index) {
        var result_title = document.querySelector(
            "#id-result-report-title" + result_index
        ).value;
        var result_link = document.querySelector(
            "#id-result-report-link" + result_index
        ).value;
        var result_snippet = document.querySelector(
            "#id-result-report-snippet" + result_index
        ).value;
        var search_query_id = document.querySelector(
            "#id-search-query-id" + result_index
        ).value;
        var report_reason = document.querySelector(
            "#id-report-reason" + result_index
        ).value;
        reportResultSocket.send(JSON.stringify({ title: `${result_title}`, link: `${result_link}`, snippet: `${result_snippet}`, reason: `${report_reason}`, search_query_id: search_query_id, parent_id: parent_id, username: "{{request.user.username}}" }));
        var close_modal_button = document.querySelector(
            "#id-close-result-report-modal" + result_index
        );
        close_modal_button.click();
    }


    reportResultSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);

        Swal.fire({
            toast: true,
            title: `You reported a result!`,
            text: `You reported the result ${data.title.substring(0, 20)} on the search ${data.search_phrase} ....`,
            icon: 'info',
            position: 'top-end',
            showCancelButton: true,
            showConfirmButton: false,
            cancelButtonColor: '#008000',
            cancelButtonText: 'Okay!'
        })
    };
</script>
<script>
    var loc = window.location;
    var wsStart = 'ws://';
    if (loc.protocol == 'https:') {
        wsStart = 'wss://'
    }

    var parent_id = "{{parent.id}}";

    var socaddress4 = wsStart + window.location.host + "/ws/site/visit/" + parent_id + "/";
    const siteVisitSocket = new WebSocket(socaddress4);
    siteVisitSocket.onopen = function (e) {
        console.log(`The connection was setup successfully to "${socaddress4}!`);
    };
    siteVisitSocket.onclose = function (e) {
        console.log(`smething unexpected happened when connecting to "${socaddress4}" !`);
        console.log(`Error: ${e.code} , reason: ${e.reason}`);
    };

    function saveSiteVisit(link, title, snippet, search_query_id) {
        siteVisitSocket.send(JSON.stringify({ title: title, link: link, snippet: snippet, search_query_id: search_query_id, parent_id: parent_id, username: "{{request.user.username}}" }));
        console.log(`Sent visit info for ${link}!`)
    }


    siteVisitSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(`Saved visit info for ${data.link}!`);
    };
</script>
{% endblock custom_js %}