{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Child Registration{% endblock %}

{% block header %}
<h1 class="text-center">Register Your Child</h1>
{% endblock header%}

{% block content %}
<section class="container justify-content-center">
    <form class="mb-3" method="post" enctype="multipart/form-data">
        <div class="mb-3 w-75">
            <label class="form-label" for="id_username">Username</label>
            <input
                type="text" name="username" maxlength="150"
                autocapitalize="none" autocomplete="username" autofocus
                class="form-control" placeholder="Username" required
                id="id_username">
            <div class="form-text">
                Required. 150 characters or fewer. Letters, digits and @/./+/-/_
                only.
            </div>
        </div>
        <div class="row row-cols-lg-2">
            <div class="mb-3 w-75">
                <label class="form-label" for="id_first_name">First name</label>
                <input type="text" name="first_name" maxlength="150"
                    class="form-control" placeholder="First name"
                    id="id_first_name">
            </div>
            <div class="mb-3 w-75">
                <label class="form-label" for="id_last_name">Last name</label>
                <input
                    type="text" name="last_name" maxlength="150"
                    class="form-control" placeholder="Last name"
                    id="id_last_name">
            </div>
        </div>
        <div class="mb-3 w-75">
            <label class="form-label" for="id_password1">Password</label>
            <input
                type="password" name="password1" autocomplete="new-password"
                class="form-control" placeholder="Password" required
                id="id_password1">
            <div class="form-text"><ul>
                    <li>Your password can’t be too similar to your other
                        personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
            </div>
        </div>
        <div class="mb-3 w-75">
            <label class="form-label" for="id_password2">Password
                confirmation</label>
            <input type="password" name="password2"
                autocomplete="new-password" class="form-control"
                placeholder="Password confirmation" required id="id_password2">
            <div class="form-text">
                Enter the same password as before, for
                verification.
            </div>
        </div>

        <div class="row w-75">
            <div class="mb-3 col-7">
                <label class="form-label" for="id_date_of_birth">Date
                    of birth</label>
                <input type="date" name="date_of_birth"
                    class="form-control" placeholder="Date of birth" required
                    id="id_date_of_birth">
            </div>
            <div class="mb-3 col">
                <label class="form-label" for="id_gender">Gender</label>
                <select name="gender" class="form-select" id="id_gender">
                    <option value="M" selected>Male</option>
                    <option value="F">Female</option>
                </select>
            </div>
        </div>
        {% csrf_token %}
        <input class="btn btn-outline-success" type="submit"
            value="Register Child">
    </form>
</section>

{% endblock content %}