{% extends "base1.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Child Login{% endblock %}

{% block header %}<h1 class="text-center">Child Login</h1>{% endblock header%}

{% block content %}
<section class="container justify-content-center">
    <form class="mb-3" method="post">
        {% bootstrap_form child_login_form layout='floating' %}
        {% csrf_token %}
        <div class="form-check m-2">
            <input class="form-check-input" type="checkbox" value="" id="showPasswordBox"
                onclick="togglePasswordVisibility('login',this);">
            <label class="form-check-label" for="showPassBox">
                Show Password
            </label>
        </div>

        <input class="btn btn-outline-success" type="submit" value="Login">
    </form>
</section>

{% endblock content %}