{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Child Registration{% endblock %}

{% block custom_css %}
<style>
    .form-text-sm {
        font-size: 13px;
    }

    .form-text {
        margin: 6px;
    }

    #toggle-cpassword-icon {
        position: absolute;
        top: 25%;
        right: 3%;
        color: black;
    }

    #toggle-password-icon {
        position: absolute;
        top: 25%;
        right: 3%;
        color: black;
    }
</style>
{% endblock %}

{% block header %}
<h1 class="text-center">Register Your Child</h1>
{% endblock header%}

{% block content %}
<section class="shadow p-3 mb-5 bg-body rounded m-2">
    <form class="mb-3 container" method="post" enctype="multipart/form-data">
        <div class="my-3">
            <div class="input-group">
                <span class="input-group-text">Full Name</span>
                <input type="text" aria-label="First Name" class="form-control" placeholder="First Name" required
                    name="first_name" maxlength="150" id="id_first_name">
                <input type="text" aria-label="Last Name" class="form-control" placeholder="Last Name" required
                    name="last_name" maxlength="150" id="id_last_name">
            </div>
            <div class="form-text">
                <p class="form-text-sm">
                    Enter your child's full name
                </p>
            </div>
        </div>

        <div class="row g-3">
            <div class="col-md-4 mb-1">
                <div class="input-group mb-2">
                    <span class="input-group-text" id="username-addon">
                        <i class="fa-solid fa-at"></i>
                    </span>
                    <input class="form-control" type="text" name="username" maxlength="150" autocapitalize="none"
                        aria-label="Username" autocomplete="username" placeholder="Username" required id="id_username">
                </div>
                <div class="form-text">
                    <p class="form-text-sm">
                        150 characters or less. Letters, digits and @/./+/-/_ only.
                    </p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row g-3 mb-2">
                    <div class="col-lg-7 col-md-12">
                        <div class="input-group mb-1">
                            <span class="input-group-text" id="dob-addon">
                                D.O.B
                            </span>
                            <input type="date" name="date_of_birth" class="form-control" placeholder="Date of birth"
                                required id="id_date_of_birth">
                        </div>
                        <div class="form-text">
                            <p class="form-text-sm">
                                Only children beween the ages of 9 and 15 can be registered.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12">
                        <div class="input-group mb-1">
                            <span class="input-group-text" id="dob-addon">
                                <i class="fa-solid fa-venus-mars"></i>
                            </span>
                            <select name="gender" class="form-select" id="id_gender">
                                <option value="M" selected>Male</option>
                                <option value="F">Female</option>
                                <option value="O">Other</option>
                            </select>
                        </div>
                        <div class="form-text">
                            <p class="form-text-sm">
                                Choose Child's Gender
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-2">
                <div class="position-relative">
                    <input type="password" name="password1" autocomplete="new-password" class="form-control"
                        placeholder="Password" required id="id_password1">
                    <span id="toggle-password-icon" onclick="togglePasswordVisibility('signup',this, 'theFirst')"
                        class="rounded-pill">
                        <i class="fa-regular fa-eye fa-lg"></i>
                    </span>
                </div>
                <div class="form-text">
                    <ul>
                        <li class="form-text-sm">
                            Your password can’t be too similar to your other personal information.
                        </li>
                        <li class="form-text-sm">
                            Your password must contain at least 8 characters.
                        </li>
                        <li class="form-text-sm">
                            Your password can’t be a commonly used password.
                        </li>
                        <li class="form-text-sm">
                            Your password can’t be entirely numeric.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 mb-2">
                <div class="position-relative">
                    <input type="password" name="password2" autocomplete="new-password" class="form-control"
                        placeholder="Password confirmation" required id="id_password2">
                    <span id="toggle-cpassword-icon" onclick="togglePasswordVisibility('signup',this, 'theSecond')"
                        class="rounded-pill">
                        <i class="fa-regular fa-eye fa-lg"></i>
                    </span>

                </div>
                <div class="form-text">
                    <small>Enter the same password as before, for verification.</small>
                </div>
            </div>
        </div>
        {% csrf_token %}
        <input class="btn btn-outline-success" type="submit" value="Register Child">
    </form>
</section>

{% endblock content %}