{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Parent Registration{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock custom_css %}

{% block header %}<h1 class="text-center">Register as a Parent</h1>{% endblock header%}

{% block content %}
<section class="container justify-content-center">
    <form class="mb-3" method="post" enctype="multipart/form-data">
        {% bootstrap_form parent_form %}

        <div class="form-check m-2">
            <input class="form-check-input" type="checkbox" value="" id="showPasswordBox"
                onclick="togglePasswordVisibility('signup',this);">
            <label class="form-check-label" for="showPassBox">
                Show Password
            </label>
        </div>

        {% bootstrap_form parent_profile_form %}
        {% csrf_token %}
        <div class="form-check m-2">
            <input class="form-check-input" type="checkbox" value="" id="showPasswordBox"
                onclick="togglePasswordVisibility('signup',this);">
            <label class="form-check-label" for="showPassBox">
                Show Password
            </label>
        </div>

        <input class="btn btn-outline-success" type="submit" value="Register as a Parent">
    </form>
</section>

{% endblock content %}