{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Parent Registration{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock custom_css %}

{% block header %}<h1 class="text-center">Register as a Parent</h1>{% endblock header%}

{% block content %}
<section class="container justify-content-center">
    <form class="mb-3" method="post" enctype="multipart/form-data">
        <div class="input-grouped">
            <label for="id_username">Username:</label>
            <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus
                required id="id_username">
            <br>
            <small class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small>
        </div>


        <div class="input-grouped">
            <label for="id_first_name">First name:</label>
            <input type="text" name="first_name" maxlength="150" id="id_first_name">
        </div>

        <label for="id_last_name">Last name:</label>
        <input type="text" name="last_name" maxlength="150" id="id_last_name">

        <br>
        <label for="id_email">Email address:</label>
        <input type="email" name="email" maxlength="254" id="id_email">

        <label for="id_password1">Password:</label>
        <input type="password" name="password1" autocomplete="new-password" required id="id_password1">
        <br>
        <small class="helptext">
            <ul>
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
        </small>

        <label for="id_password2">Password confirmation:</label>


        <input type="password" name="password2" autocomplete="new-password" required id="id_password2">

        <br>
        <span class="helptext">Enter the same password as before, for verification.</span>







        <label for="id_username">Username:</label>


        <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus
            required id="id_username">

        <br>
        <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>






        <label for="id_first_name">First name:</label>


        <input type="text" name="first_name" maxlength="150" id="id_first_name">






        <label for="id_last_name">Last name:</label>


        <input type="text" name="last_name" maxlength="150" id="id_last_name">






        <label for="id_email">Email address:</label>


        <input type="email" name="email" maxlength="254" id="id_email">






        <label for="id_password1">Password:</label>


        <input type="password" name="password1" autocomplete="new-password" required id="id_password1">

        <br>
        <span class="helptext">
            <ul>
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
        </span>






        <label for="id_password2">Password confirmation:</label>


        <input type="password" name="password2" autocomplete="new-password" required id="id_password2">

        <br>
        <span class="helptext">Enter the same password as before, for verification.</span>







        {% csrf_token %}
        <input class="btn btn-outline-success" type="submit" value="Register">
    </form>
</section>

{% endblock content %}