<!-- awareness/intro.html -->
{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}Learn From Bahati{% endblock title %}

{% block custom_css %}
<style>
    #card-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flip-card {
        perspective: 1000px;
        min-height: 200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: 2px solid #c4bfbf;
        border-radius: 20px;
        margin: 20px;
        padding: 20px;
        background-color: white;
    }

    .flip-card-inner {
        width: 100%;
        height: 100%;
        transition: transform 0.5s;
        transform-style: preserve-3d;
        position: relative;
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front,
    .flip-card-back {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
    }

    .flip-card-front {
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }

    .flip-card-back {
        background-color: white;
        color: #000;
        transform: rotateY(180deg);
        padding: 10px;
        font-size: 14px;
    }

    .info-header {
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        color: #025fb6;
    }

    .info-text {
        font-size: 18px;
        font-weight: 400;
        text-align: center;
    }

    .custom-link {
        color: #0084ff;
        text-decoration: none;
        animation: color-change 1s ease-in-out infinite alternate;
    }

    .custom-link:hover {
        text-decoration: underline;
        animation: none;
        color: #ff0084;
    }

    .avatar-container {
        display: flex;
        align-items: center;
    }

    .avatar {
        width: 350px;
        animation: dance 2s infinite;
    }

    .topic {
        font-size: 24px;
        margin-left: 20px;
        padding-left: 30;
        padding-top: 20;
        font-weight: 200;
    }

    @keyframes shake {
        0% {
            transform: translateX(0);
        }

        25% {
            transform: translateX(-10px);
        }

        50% {
            transform: translateX(10px);
        }

        75% {
            transform: translateX(-5px);
        }

        100% {
            transform: translateX(5px);
        }
    }

    @keyframes color-change {
        0% {
            color: #0084ff;
        }

        50% {
            color: #ff0084;
        }

        100% {
            color: #0084ff;
        }
    }

    @keyframes fade-in {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes dance {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-10px);
        }
    }
</style>
{% endblock custom_css %}


{% block header %}
<div class="avatar-container">
    <div class="avatar">
        <img class="img img-fluid" src="{% static 'img/man-with-diary.gif' %}" alt="Dancing Avatar">
    </div>
    <div class="topic"
        style="color: green;font-size: xx-large;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
        <h1>Hey Kids! Learn About Online Safety</h1>
    </div>
</div>

{% endblock header %}

{% block content %}
<div id="card-container" class="container row g-2">
    <div class="col-lg-4 col-md-12 col-md-12">
        <div class="info-card m-2 p-2 flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h2 class="info-header">Cyberbullying</h2>
                </div>
                <div class="flip-card-back">
                    <p class="info-text">
                        Imagine online bullies are like villains from your favorite cartoon who tease, but don't let
                        them
                        spoil your day. Talk to a grown-up if you need help!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-md-12">
        <div class="info-card m-2 p-2 flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h2 class="info-header">Online Grooming</h2>
                </div>
                <div class="flip-card-back">
                    <p class="info-text">
                        Online grooming is when someone tries to trick you, just like a tricky character in a
                        fairy tale. Always tell your parents or a guardian about any online friends you have!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-md-12">
        <div class="info-card m-2 p-2 flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h2 class="info-header">Identity Theft</h2>
                </div>
                <div class="flip-card-back">
                    <p class="info-text">
                        Identity thieves are like sneaky wizards pretend to be you. Keep your secrets safe,
                        and don't share personal information with anyone!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-md-12">
        <div class="info-card m-2 p-2 flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h2 class="info-header">Child-friendly content</h2>
                </div>
                <div class="flip-card-back">
                    <p class="info-text">
                        Imagine your computer as a magic box, and you should never open any bad or scary pictures.
                        Stay away from anything that doesn't look nice or friendly!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-md-12">
        <div class="info-card m-2 p-2 flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h2 class="info-header">Protecting Yourself</h2>
                </div>
                <div class="flip-card-back">
                    <p class="info-text">
                        Always remember to stay away from strangers online, just like you would in the real world.
                        Only talk to people you know and trust, like your parents and friends!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="info-text">For more information and help, visit <a class="custom-link"
        href="https://www.childhelp.org/hotline/">Childhelp
        National Child Abuse Hotline</a>.</p>
{% endblock content %}

{% block custom_js %}
<script>
    const avatar = document.querySelector(".avatar img");
    const dancePoses = ["{% static 'img/man-with-diary.gif' %}", "{% static 'img/man-showing-smartphone.gif' %}"];
    let currentPose = 0;

    function animateDance() {
        avatar.src = dancePoses[currentPose];
        currentPose = (currentPose + 1) % dancePoses.length;
    }

    // Start the animation and repeat every 6 seconds
    setInterval(animateDance, 1000);
</script>

{% endblock custom_js %}