<!-- awareness/intro.html -->
{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}Unban Requests{% endblock title %}

{% block custom_css %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
    }

    .container {
        width: 80%;
        margin: auto;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 10px;
        animation: fade-in 1s ease-in-out;
    }

    h1 {
        font-size: 36px;
        margin-top: 0;
        margin-bottom: 10px;
        text-align: center;
        color: #0084ff;
        animation: shake 1s ease-in-out;
        cursor: pointer;
    }

    h2 {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 10px;
        color: #0084ff;
    }

    p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    ul {
        list-style-type: disc;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    li {
        margin-bottom: 10px;
    }

    .custom-link {
        color: #0084ff;
        text-decoration: none;
        animation: color-change 1s ease-in-out infinite alternate;
    }

    .custom-link:hover {
        text-decoration: underline;
        animation: none;
        color: #ff0084;
    }

    .avatar-container {
        display: flex;
        align-items: center;
    }

    .avatar {
        width: 350px;
        animation: dance 2s infinite;
    }

    .topic {
        font-size: 24px;
        margin-left: 20px;
        padding-left: 30;
        padding-top: 20;
        font-weight: 200;
    }

    @keyframes shake {
        0% {
            transform: translateX(0);
        }

        25% {
            transform: translateX(-10px);
        }

        50% {
            transform: translateX(10px);
        }

        75% {
            transform: translateX(-5px);
        }

        100% {
            transform: translateX(5px);
        }
    }

    @keyframes color-change {
        0% {
            color: #0084ff;
        }

        50% {
            color: #ff0084;
        }

        100% {
            color: #0084ff;
        }
    }

    @keyframes fade-in {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes dance {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-10px);
        }
    }
</style>
{% endblock custom_css %}


{% block header %}
<div class="avatar-container">
    <div class="avatar">
        <img class="img img-fluid" src="{% static 'img/man-with-diary.gif' %}" alt="Dancing Avatar">
    </div>
    <div class="topic"
        style="color: green;font-size: xx-large;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
        <b>Let's Stay Safe Online!</b></div>
</div>

{% endblock header %}

{% block content %}
<div class="container">
    <h2>Here Are Some Tips</h2>
    <p>Protect yourself from things that are not suitable for kids. Don't visit those websites or share that stuff. If
        you see something that bothers you, talk to your parents or an adult you trust.</p>
    <p>If someone is being mean or talking in a way that makes you feel uncomfortable, it's okay to leave and not
        respond.</p>
    <p>If someone is using bad words or being scary online, you can block them, so they can't bother you anymore.</p>
    <p>Always be careful if someone, especially a stranger, wants to talk about things that make you uncomfortable.</p>
    <p>If someone tricks you into doing something you shouldn't, tell a trusted adult right away.</p>
    <p>If you see something online that's really wrong or makes you worried, you should tell someone like the police or
        a grown-up who can help.</p>
    <p>Remember to take care of your computer or phone. Keeping them safe is important.</p>

    <p>For more information and help, you can visit <a class="custom-link" href="https://www.childhelp.org/hotline/">Childhelp National
            Child Abuse Hotline</a>.</p>
</div>
{% endblock content %}

{% block custom_js %}
<script>
    const avatar = document.querySelector(".avatar img");
    const dancePoses = ["{% static 'img/man-with-diary.gif' %}", "{% static 'img/man-showing-smartphone.gif' %}"]; // Add more poses as needed
    let currentPose = 0;

    function animateDance() {
        avatar.src = dancePoses[currentPose];
        currentPose = (currentPose + 1) % dancePoses.length;
    }

    // Start the animation and repeat every 6 seconds
    setInterval(animateDance, 1000);
</script>

{% endblock custom_js %}