{% extends 'base.html' %}
{% load accounts_tags %}
{% load static %}

{% block title %}Children's Details{% endblock %}

{% block custom_css %}
<style>
    .underline {
        text-decoration: underline;
    }

    .card {
        border: none;
        border-radius: 10px
    }

    .child-details {
        font-weight: 300;
        font-size: 13px;
        display: block;
        margin: 2px;
        padding: 2px;

    }

    .more-btn {
        font-weight: 300;
        font-size: 13px;
        display: block;
        margin: 0px;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: auto;
        padding-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        width: auto;
        margin: auto;
    }

    .more-btn.info-btn {
        color: #0d6efd;
        background-color: #fff;
        border: none;
        border-style: solid;
        border-width: 1px;
        border-color: #138496;
    }

    .more-btn.info-btn:hover {
        background-color: #0d6efd;
        color: #fff;
    }

    .more-btn.danger-btn {
        color: #dc3545;
        background-color: #fff;
        border: none;
        border-style: solid;
        border-width: 1px;
        border-color: #dc3545;
    }

    .more-btn.danger-btn:hover {
        background-color: #dc3545;
        color: #fff;
    }

    .more-btn.warning-btn {
        color: #ffc107;
        background-color: #fff;
        border: none;
        border-style: solid;
        border-width: 1px;
        border-color: #ffc107;
    }

    .more-btn.warning-btn:hover {
        background-color: #ffc107;
        color: #fff;
    }


    .badge span {
        width: 60px;
        height: 60px;
        padding-bottom: 3px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center
    }

    .icon {
        width: 50px;
        height: 50px;
        background-color: #eee;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 39px
    }

    .progress {
        height: 10px;
        border-radius: 10px
    }

    .progress div {
        background-color: red
    }

    .text1 {
        font-size: 14px;
        font-weight: 600
    }

    .text2 {
        color: #a5aec0
    }
</style>
{% endblock custom_css %}

{% block header %}
<div class="mx-auto">
    <h2 class="text-center">Children's Details</h2>
</div>
{% endblock header %}

{% block content %}
<section>
    <div class="container my-4">
        <div class="row">
            {% for child_profile in children_profiles %}
            <div class="col-md-4">
                <div class="card p-3 mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon">

                                <img class="rounded-circle mb-2 mt-2 w-50 h-50" src="{% static 'avatars/child.png' %}">

                            </div>
                            <div class="ms-2">
                                <h5 class="mb-0 text-dark">
                                    {{ child_profile.child.get_full_name }}
                                </h5>
                                <p class="child-details">
                                    @{{ child_profile.child.get_username }}
                                </p>
                            </div>
                        </div>
                        <div class="badge">
                            <span>
                                {% if child_profile.banned %}
                                <i class="fa-solid fa-ban fa-2xl" style="color: #e20303;"></i>
                                {% else %}
                                <i class="fa-solid fa-circle-check fa-2xl" style="color: #00cf23;"></i>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <div class="mt-2 c-details text-center">
                        <div class="row">
                            <div class="col-md-6 mt-3">
                                <div class="card m-2">
                                    <div class="card-header d-flex justify-content-between">
                                        <p class="text-dark h5 underline">Info</p>
                                        <button class="btn btn-sm btn-outline-dark rounded-circle"
                                            data-bs-toggle="modal"
                                            data-bs-target="#updateChildModal{{child_profile.child.get_username}}">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </button>
                                    </div>
                                    {% include 'accounts/includes/update_child_info_modal.html' %}
                                    <div class="card-body">
                                        <p class="child-details text-dark">
                                            {{ child_profile.age }} years old
                                        </p>
                                        <p class="child-details text-dark">
                                            {{ child_profile.get_gender_display }}
                                        </p>
                                        <p class="child-details text-dark">
                                            {% if child_profile.child.last_login %}
                                            <span>
                                                Last active {{ child_profile.child.last_login|timesince }} ago
                                            </span>
                                            {% else %}
                                            <span>Not logged in yet</span>
                                            {% endif %}
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-3">
                                <p class="text-dark h5 underline">Searches</p>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item child-details">
                                        <button type="button" class="more-btn info-btn" data-bs-toggle="modal"
                                            data-bs-target="#allSearchModal{{child_profile.child.get_username}}">
                                            {{ child_profile.searchphrase_set.all.count }} total searches
                                        </button>
                                        {% all_child_searches child_profile.id %}
                                    </li>
                                    <li class="list-group-item child-details">
                                        <button type="button" class="more-btn danger-btn" data-bs-toggle="modal"
                                            data-bs-target="#flaggedSearchModal{{child_profile.child.get_username}}">
                                            {{ child_profile.flaggedsearch_set.all.count }} flagged searches
                                        </button>
                                        {% flagged_child_searches child_profile.id %}
                                    </li>
                                    <li class="list-group-item">
                                        <button type="button" class="more-btn warning-btn" data-bs-toggle="modal"
                                            data-bs-target="#unbanRequestModal{{child_profile.child.get_username}}">
                                            {{ child_profile.unbanrequest_set.all.count }} unban requests
                                        </button>
                                        {% child_unban_requests child_profile.id %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}