{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Parent Dashboard{% endblock %}

{% block header %}<h1 class="text-center">Dashboard</h1>{% endblock header%}

{% block content %}
<section class="container justify-content-center">

    {% if children_profiles %}

    <table>
        <tr>
            <th>Username</th>
            <th>Full Name</th>
            <th>Date of Birth</th>
            <th>Account Status</th>
            <th>Actions</th>
        </tr>

        {% for child_profile in children_profiles %}
        <tr>
            <td>{{ child_profile.child.get_username }}</td>
            <td>{{ child_profile.child.get_full_name }}</td>
            <td>{{ child_profile.date_of_birth }}</td>
            <td>{{ child_profile.get_account_status_display }}</td>
            <td>
                <a class="btn btn-outline-success btn-sm" href="{% url 'safesearch:generate_child_pdf_report' child_profile.child.id %}">
                    Report
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

    {% else %}

    <p>No children registered yet</p>

    {% endif %}

</section>

{% endblock content %}