{% extends 'base.html' %}

{% load static %}

{% block title %}Profile{% endblock %}

{% block custom_css %}{% endblock custom_css %}

{% block content %}
<div class="container-fluid">
    <h3 class="text-dark mb-4">Profile</h3>
    <div class="row mb-3">
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-body text-center shadow">

                    {% if profile.photo %}
                    <img class="rounded-circle mb-2 mt-2 w-50 h-50" src="{{ profile.photo.url }}">
                    {% else %}
                    <img class="rounded-circle mb-2 mt-2 w-50 h-50" src="{% static 'default.png' %}">
                    {% endif %}

                    <div class="mb-3">
                        <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#newPhotoModal">
                            Change Photo
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="newPhotoModal" tabindex="-1" aria-labelledby="newPhotoModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="newPhotoModalLabel">Modal title</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="{% url 'accounts:update_profile_photo' %}" method="post"
                                        id="photoForm" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <label class="form-label" for="profile_photo">Select New Photo</label>
                                        <input type="file" class="form-control" id="profile_photo"
                                            name="profile_photo" />

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" onclick="updatePhoto()">
                                        Save changes
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="text-primary fw-bold m-0">Children</h6>
                </div>
                <div class="card-body">
                    {% if children_profiles %}
                    {% for child_profile in children_profiles %}
                    <h4 class="small fw-bold">
                        {{ child_profile.child.get_full_name }}
                    </h4>
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-outline-success btn-sm mb-1"
                            href="{% url 'safesearch:generate_child_pdf_report' child_profile.child.id %}">
                            Generate Report
                        </a>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>No children registered yet</p>
                    <a class="btn btn-outline-info" href="{% url 'accounts:register_child' %}"
                        title="Child Registration">
                        <i class="fa-solid fa-user-plus fa-lg"></i>
                        <span>&nbsp;Register a Child</span>
                    </a>
                    {% endif %}

                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Your Info</p>
                        </div>
                        <div class="card-body">
                            <form method="post" action="{% url 'accounts:update_parent_info' %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label" for="username">
                                                <strong>Username</strong>
                                            </label>
                                            <input class="form-control" type="text" id="username"
                                                placeholder="user.name" name="username" value="{{ parent.username }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3 mx-0">
                                            <label class="form-label" for="first_name">
                                                <strong>First Name</strong>
                                            </label>
                                            <input class="form-control" type="text" id="first_name" placeholder="John"
                                                name="first_name" value="{{ parent.first_name }}">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3 mx-0">
                                            <label class="form-label" for="last_name">
                                                <strong>Last Name</strong>
                                            </label>
                                            <input class="form-control" type="text" id="last_name" placeholder="Doe"
                                                name="last_name" value="{{ parent.last_name }}">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-3">
                                        <div class="mb-3">
                                            <label class="form-label" for="gender">
                                                <strong>Gender</strong>
                                            </label>
                                            <select class="form-select" id="gender" name="gender">
                                                {% for choice in profile.ParentGender.choices %}
                                                <option value="{{ choice.0 }}" {% if choice.0 is profile.gender %}
                                                    selected {% endif %}>
                                                    {{ choice.1 }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <button class="btn btn-primary btn-sm" type="submit">
                                        Save Settings
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Contact Details</p>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'accounts:update_parent_contacts' %}" method="post">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label class="form-label" for="address">
                                        <strong>Address</strong>
                                    </label>
                                    <input class="form-control" type="text" id="address" placeholder="Sunset Blvd, 38"
                                        name="address" value="{{ profile.address }}">
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="email">
                                                <strong>Email
                                                    Number</strong>
                                            </label>
                                            <input class="form-control" type="email" id="email"
                                                placeholder="Your email address" name="email"
                                                value="{{ parent.email }}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="phone_number">
                                                <strong>Phone
                                                    Number</strong>
                                            </label>
                                            <input class="form-control" type="tel" id="phone_number"
                                                placeholder="Los Angeles" name="phone_number"
                                                value="{{ profile.phone_number }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <button class="btn btn-primary btn-sm" type="submit">Save Settings</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block custom_js %}
<script>
    function updatePhoto() {
        // Get a reference to the form element
        var form = document.getElementById("photoForm");

        // Submit the form
        form.submit();
    }

</script>
{% endblock custom_js %}