{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Change Your Password{% endblock %}

{% block header %}
<div>
    <h1 class="text-center">Change Your Password</h1>
</div>
{% endblock header%}

{% block content %}

<div class="container">
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='floating' %}
        <button class="btn btn-success" type="submit">
            Change Password
        </button>
    </form>
</div>

{% endblock content %}