{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <h3>Signup Succesful!</h3>
    <p>Hello {{ parent.get_full_name }},</p>
    <p>Welcome to the Child Protection Website!</p>
    <p>We're excited to have you on board. Here are some details about your signup:</p>

    <ul>
        <li><strong>Time:</strong> {{ time }}</li>
        <li><strong>Browser Family:</strong> {{ device_info.browser_family }}</li>
        <li><strong>Browser Version:</strong> {{ device_info.browser_version }}</li>
        <li><strong>Device OS:</strong> {{ device_info.device_os }}</li>
        <li><strong>Device Version:</strong> {{ device_info.device_version }}</li>
    </ul>

    <p>If you have any questions or need assistance, please don't hesitate to contact our support team.</p>

    <hr>
    <p>Thank you for choosing the Child Protection Website!</p>
</body>

</html>