{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <h3>Hello {{ parent.get_full_name }},</h3>
    <p>Your password has been changed successfully.</p>

    <p>If you did not perform this login or have any concerns, please contact our support team immediately.</p>
    <hr>
    <p>Thank you for using the child protection website!</p>
</body>

</html>