<!-- about.html -->
{% extends "base1.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}About Us{% endblock %}


{% block custom_css %}
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
<link rel="stylesheet" href="{% static 'assets/css/baguetteBox.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/vanilla-zoom.min.css' %}">
{% endblock custom_css %}


{% block header %}<h1 class="text-center display-1">About us</h1>{% endblock header%}

{% block content %}
<section class="clean-block features">
    <div class="container">
        <div class="block-heading text-center">
            <h2 class="text-success">What Do We Offer</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 feature-box"><i class="fa-solid fa-bullhorn fa-lg"></i>
                <h4>Stay Informed</h4>
                <p>
                    Receive real-time notifications in the app and via email for your child's online activities. Be
                    instantly aware of any concerning behavior or content they encounter.
                </p>
            </div>
            <div class="col-md-5 feature-box"><i class="fa-brands fa-leanpub fa-lg"></i>
                <h4>Empower Parents and Children</h4>
                <p>
                    Access a rich library of resources for parents and children to learn about online safety. Engage in
                    activities that promote responsible internet usage and digital literacy.
                </p>
            </div>
            <div class="col-md-5 feature-box"><i class="fa-brands fa-searchengin fa-xl"></i>
                <h4>Tailored Exploration</h4>
                <p>
                    Customize your child's online experience with our advanced search engine filters. Define what your
                    child can search for, ensuring age-appropriate and safe results.
                </p>
            </div>
            <div class="col-md-5 feature-box"><i class="fa-regular fa-comment-dots fa-lg"></i></i>
                <h4>Join the Discussion</h4>
                <p>Connect with other parents and guardians. Share experiences, tips, and
                    advice on ensuring your child's online safety.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container py-3">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="text-success">The Team</h2>
                <p class="text-muted">Who We Are&nbsp;</p>
            </div>
        </div>
        <div class="row row-cols-2 row-cols-md-3 mx-auto d-flex justify-content-center" style="max-width: 700px;">
            <div class="col mb-4">
                <div class="text-center"><img class="rounded mb-3 fit-cover" width="150" height="150"
                        src="{% static 'img//user.png' %}">
                    <h5 class="fw-bold mb-0"><strong>Patrick Meki</strong></h5>
                    <small class="text-muted mb-2">
                        "Child online safety isn't just about code; it's about creating a secure, educational digital
                        world."
                    </small>
                </div>
            </div>
            <div class="col mb-4">
                <div class="text-center"><img class="rounded mb-3 fit-cover" width="150" height="150"
                        src="{% static 'img/user.png' %}">
                    <h5 class="fw-bold mb-0"><strong>Klein Rop</strong></h5>
                    <small class="text-muted mb-2">
                        "In cybersecurity, we shield children's innocence as they explore the digital realm."
                    </small>
                </div>
            </div>
            <div class="col mb-4">
                <div class="text-center"><img class="rounded mb-3 fit-cover" width="150" height="150"
                        src="{% static 'img//user.png' %}">
                    <h5 class="fw-bold mb-0"><strong>Bahati Moses</strong></h5>
                    <small class="text-muted mb-2">
                        "Empower parents, respect privacy, and foster trust in cybersecurity."
                    </small>
                </div>
            </div>
            <div class="col mb-4">
                <div class="text-center"><img class="rounded mb-3 fit-cover" width="150" height="150"
                        src="{% static 'img//user.png' %}">
                    <h5 class="fw-bold mb-0"><strong>Naftal Omayio</strong></h5>
                    <small class="text-muted mb-2">
                        "Our mission is to empower parents while respecting children's privacy and trust in
                        cybersecurity."
                    </small>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}


{% block custom_js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/baguetteBox.min.js"></script>
<script src="assets/js/vanilla-zoom.js"></script>
<script src="assets/js/theme.js"></script>
{% endblock custom_js %}