{% extends 'base1.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Contact Us{% endblock title %}

{% block header %}

{% endblock header %}

{% block content %}
<main class="page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading text-center">
                <h2 class="text-info">Get in touch</h2>
                <p>We're open to any suggestion or just to have a chat!</p>
            </div>

            <form method="post" action="{% url 'forum:contact_message' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="name" data-bs-theme="light">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="subject">Subject</label>
                    <input class="form-control" type="text" id="subject" name="subject" data-bs-theme="light">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label><input class="form-control" type="email"
                        id="email" name="email" data-bs-theme="light">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="message">Message</label>
                    <textarea class="form-control" id="message" name="message" data-bs-theme="light"></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-outline-success" type="submit">Send</button>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock content %}