{% extends "base.html" %}
{% load forum_tags %}

{% block title %}{{post.title}}{% endblock title %}


{% block custom_css %}

{% endblock custom_css %}


{% block header %}
<div class="container text-center">
    <h1 class="text-dark">{{ post.title }}</h1>
    <small class="text-muted">
        Posted on {{ post.posted_on }} by <span><a href="#">{{ post.created_by }}</a></span>
    </small>
</div>
{% endblock header %}


{% block content %}
<div class="container text-dark">
    <p>{{ post.content | markdown }}</p>
</div>
{% endblock %}


{% block custom_js %}

{% endblock custom_js %}